@using Paup_2023.Models
@model Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Novi)
{
    <h2>Kreiranje novog studenta</h2>
}
else
{
    <h2>Ažuriranje podataka o studentu</h2>
    <h3>@Model.Ime @Model.Prezime </h3>
}

@using (Html.BeginForm("Azuriraj", "Studenti", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Ispravite podatke!");

    if (!ViewBag.Novi)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Id, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Id, new { disabled = true, @class = "from-control" })
            </div>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.Ime, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Ime, new { @class = "from-control" })
            @Html.ValidationMessageFor(mocel => Model.Ime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Prezime, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Prezime, new { @class = "from-control" })
            @Html.ValidationMessageFor(mocel => Model.Prezime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Spol, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.Spol, "M") Muški
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.Spol, "Z") Ženski
            </label>
            @Html.ValidationMessageFor(model => model.Spol)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DatumRodjenja, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.DatumRodjenja, new { @class = "from-control" })
            @Html.ValidationMessageFor(mocel => Model.DatumRodjenja, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Oib, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Oib, new { @class = "from-control" })
            @Html.ValidationMessageFor(mocel => Model.Oib, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.GodinaStudija, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.GodinaStudija, new { @class = "from-control" })
            @Html.ValidationMessageFor(mocel => Model.GodinaStudija, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.RedovanStudent, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.RedovanStudent, new { @class = "from-control" })
            @Html.ValidationMessageFor(mocel => Model.RedovanStudent, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BrojUpisanihKolegija, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.BrojUpisanihKolegija, new { @class = "from-control" })
            @Html.ValidationMessageFor(mocel => Model.BrojUpisanihKolegija, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SifraSmjer, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.SifraSmjer,
           new SelectList(ViewBag.Smjerovi, "Sifra", "Naziv", ""), new { @class = "form-control"})

            @Html.ValidationMessageFor(mocel => Model.SifraSmjer, "", new { @class = "text-danger" })
        </div>
    </div>
    <!--Button a spremanje -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="false"></span>
                Spremi
            </button>
        </div>
    </div>

    <!--Link za povratak na pipis studenata-->
    @Html.ActionLink("Povratak bez spremanja", "Popis", "Studenti")
}